.market{
    display: flex;
    flex-direction: row;
}
.all-player{
    padding: 20px;
    width: 70%;
}
.added-player{
    width: 30%;
    background: #f1dddd;
    
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    
}